.img-cabecalho{
	width: 3%;
}

.rodape {
	width: 100%;
	margin-top: 10%;
	bottom: 0; 
	position: relative;
	text-align: center;
}

.opacidade-60 {
	opacity: 60%;
}

.fachada{
	width:100%; cursor: auto;
	margin-bottom: 2%;
}

.titulo {
	color: black;
	font-size: 30px;
	font-family:all;
	margin-bottom: 2%;
}

.input {
	margin-bottom: 2%;
}

.buscar-cep {
	margin-top: 10%;
	margin-bottom: 2%;
}

.txt-buscar-cep {
	color: black;
	font-size: 30px;
	font-family:all;
}

.conteudo-busca{
	margin-top: 18%;
}